body,
body * {
  vertical-align: baseline;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 9pt;
  font-weight: 700;
}

.container {
  position: absolute;
  width: 300px;
  height: 600px;
  top: 0;
  left: 0;
  /* top: 100px;
  left: 200px; */
  z-index: 100;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #fbfbff;
  border: 1px #363636 solid;
  background-size: cover;
}

img {
  width: 100%;
  height: auto;
}

.el {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

.bg {
  background-color: #fafaff;
  width: 300px;
  height: 600px;
}


#car {
  width: 277px;
  left: 0px;
  top: 370px;
}
#txt01 {
  width: 159px;
  left: 66px;
  top: 218px;
}
#txt02 {
  width: 156px;
  left: 66px;
  top: 274px;
}
.shield {
  width: 30px;
  height: 32px;
  left: 21px;
  top: 206px;
  /* outline: 1px red solid; */
  overflow: hidden;
}
.shield_inn {
  width: 30px;
  left: 0;
  top: 0;
}
#shield02,
#shield02_tick {
  top: 330px;
}
#shield03,
#shield03_tick {
  top: 452px;
}
#txt03 {
  width: 147px;
  left: 63px;
  top: 213px;
}
#txt04 {
  width: 198px;
  left: 63px;
  top: 336px;
}
#txt05 {
  width: 186px;
  left: 63px;
  top: 459px;
}


#logo {
  width: 162px;
  left: 69px;
  top: 32px;
}
#phone {
  width: 13px;
  left: 107px;
  top: 129px;
}
#phone_num {
  width: 64px;
  left: 126px;
  top: 133px;
}

#legal {
  width: 181px;
  left: 55px;
  top: 577px;
}

#txt06 {
  width: 229px;
  left: 35px;
  top: 232px;
}
#txt07 {
  width: 231px;
  left: 34px;
  top: 268px;
}
#txt08 {
  width: 217px;
  left: 41px;
  top: 389px;
}
#txt09 {
  width: 177px;
  left: 57px;
  top: 502px;
}






#schirm {
  position: absolute;
  width: 300px;
  height: 600px;
  top: 0;
  left: 0;
  background-color: #fbfbff;
  background-size: cover;
  opacity: 1;
}
